.RegisterItem {
    position: flex;
    text-align: left;
}

.RegisterItem-card {
    width: 65rem;
    background: #f2f0ed;
    top: 0;
    position: flex;
 }

.col-3 {
    text-align: left;
    color: black;
    font-size: calc(2px + 2vmin);
}

.text-muted {
    font-size: calc(7px + 1vmin);
}

.RegisterItem-b {
    width: '15rem';
    display: 'grid';
}

.RegisterItem-link {
    font-size: calc(7px + 1vmin);
}